  /****footer****/
  @media(min-width:769px) and (max-width:1500px) {
  footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    margin-top:100px;
    padding:0px;
    /* border: 1px solid red; */
  }
  footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  footer ul li{
    display: flex;
    flex-wrap: wrap;
  }
  footer ul li a .imgFooter{
    width:40px;
    height:40px;
  }
  footer ul li a .imgFooter img{
    width:100%;
    height:100%;
    border-radius: 5px;
  }
  footer p{
    justify-content: center;
    margin-left:30px;
    margin-top:15px;
    display: flex;
    border-radius: 5px;
    padding:1%;
    font-size: 1.1rem;
    /* border: 1px solid black; */
  }
}
  /*MEDIA QUERY MOBILE*/
/*MEDIA QUERY MOBILE FIRST*/
@media(min-width:320px) and (max-width:768px) {
/****footer****/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top:40px;
    padding:0px;
  }
  footer ul{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 2%;
    /* border: 1px solid red; */
  }
  footer ul li{
    display: flex;
    flex-wrap: wrap;
  }
  footer ul li a .imgFooter{
    width: 30px;
    height: 30px;
  }
  footer ul li a .imgFooter img{
    width:100%;
    height:100%;
    border-radius: 5px;
  }
  footer p{
    margin: auto;
    margin-top:10px;
    display: flex;
    border-radius: 5px;
    padding:2%;
    font-weight: 500;
    font-size: 1rem;
  }
}