@media(min-width:769px) and (max-width:1500px) {
.inicio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin: auto;
    align-items: center;
    /* border:1px solid green; */
}
 .img{
    display: flex;
    flex-direction:row;
    width: 80%;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    /* border: 1px solid red; */
}
 .img img{
    display: flex;
    width: 7%;
    height: 7%;
    margin-left:0px;
}
.img h1{
    margin-top: 50px;
    margin: auto;
    color: gray;
    transition: transform 0.2s ease-in-out;
    transform: scale(2);
    transition-duration:6000ms;
    /* border: 1px solid yellow; */
}
h2{
    display: flex;
     margin-top:50px;
    color:rgb(109, 105, 105);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
}
}


@media(min-width:320px) and (max-width:768px) {
    .img{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: auto;
        padding:2%;
        padding-top: 0;
        align-items: center;
        /* border: 1px solid red; */
    }
    .img img{
        display: flex;
        width:20%;
        height:20%;
        max-width: 100px;
        max-height: 100px;
        margin-left:0px;
        /* border: 1px solid blue; */
    }
    .img h1{
        width:50%;
        margin:auto;
        margin-top:20px;
        font-size: 1.3rem;
        color: gray;
        transition: transform 0.2s ease-in-out;
        transform: scale(1.5);
        transition-duration:6000ms;
        /* border: 1px solid yellow; */
    }
    .inicio{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        margin: auto;
        align-items: center;
        /* border:1px solid green; */
    }
    h2{
        display: flex;
        margin-top:50px;
        color:rgb(109, 105, 105);
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        color: black;
        font-weight:400;
        font-size: 0.9rem;
    }


}